/* @theme academic */

@import "gaia";

:root {
  /* --color-background: #f0f0f0; */
  /* --color-background: #e9e3df; */
  --color-background: #e5e2df;
  --color-highlight: #215a9bc5;
}

section {
  background-image: none;
  font-family: "Noto Sans JP", sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

ul ul {
  font-size: 0.9em;
}

section.cover {
  text-align: right;
}

section.cover h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

header {
  background-color: #9a9389;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

blockquote {
  width: 88%;
  border-top: 0.1em dashed #555;
  font-size: 50%;
  position: absolute;
  bottom: 0px;
}
blockquote::before {
  content: "";
}
blockquote::after {
  content: "";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  font-family: "Source Code Pro", monospace;
}

cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5e2df;
  border: 0.2em solid black;
  opacity: 93%;

  font-size: 50px;
}

citation {
  font-size: 27px;
}

section.figure table {
  margin: auto;
  table-layout: fixed;
  width: 90%;
  display: table;
}

section.figure thead th {
  background-color: transparent !important;
  border: 0cm;
  padding: 0px;
}

section.figure tbody td {
  background-color: transparent !important;
  border: 0px !important;
  text-align: center;
  padding: 1px 0px;
}
